*{
    margin: 0;
    padding: 0;
}
.all{
    width: 100%;
    height: 10vh;
    display: flex;
    
    border: 1px solid palegreen;

}
.right{
    border: 1px solid peru;
width: 60%;
}
.left{
    background-image: url(https://s3-alpha-sig.figma.com/img/3855/25d4/d9eb3990e4e67e80a8de3574f761f145?Expires=1687737600&Signature=nrgXT7J4wzGYlNk~mVrs7X0N4ogr5yRGCS4am7-McUxVjmfWzoqbo6Qc0Ro3Soy0DBwbJYjD0FXKT~fZpZIdbkyhMRMjxfZ806wUoap4icQW0Eg5gQ8t2WNwNkQQecFMCLUSMcMFpRFExGCJnwdLXxGUFE6Tijjk950WyfYoYxPSB5jXUunvpbsxM2U~FSqsr6EtDg-L0nvVs3hHEnxwWPBlyTUbhOlpBTGvNK59~J60A3ChlvQ8YabM8O4lQNAsG9GuQ491MRrtb5p-xxEujPRDy9y2RgMkhGIcT4tmkQMqRxCCV7K0wKDx~PZID31O1FaTuIKVgqBoW6FSx5Y-Wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border: 1px solid rgb(205, 63, 193);
    width: 40%;
}