* {
    margin: 0;
    padding: 0;
}

.all {
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 0.5rem;
    border: 1px solid palegreen;

}

.right {
    border: 1px solid peru;
    width: 60%;
}

.left {
    background-image: url(https://s3-alpha-sig.figma.com/img/3855/25d4/d9eb3990e4e67e80a8de3574f761f145?Expires=1687737600&Signature=nrgXT7J4wzGYlNk~mVrs7X0N4ogr5yRGCS4am7-McUxVjmfWzoqbo6Qc0Ro3Soy0DBwbJYjD0FXKT~fZpZIdbkyhMRMjxfZ806wUoap4icQW0Eg5gQ8t2WNwNkQQecFMCLUSMcMFpRFExGCJnwdLXxGUFE6Tijjk950WyfYoYxPSB5jXUunvpbsxM2U~FSqsr6EtDg-L0nvVs3hHEnxwWPBlyTUbhOlpBTGvNK59~J60A3ChlvQ8YabM8O4lQNAsG9GuQ491MRrtb5p-xxEujPRDy9y2RgMkhGIcT4tmkQMqRxCCV7K0wKDx~PZID31O1FaTuIKVgqBoW6FSx5Y-Wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
    border-radius: 6px 0px 0px 6px;
}

.left1 {
    background-image: url(https://s3-alpha-sig.figma.com/img/43e3/1c96/43a4c07194521fe6c206aa06c994a55f?Expires=1687737600&Signature=N4DcTxWbCRIQtKYtcuAPQJuJVzmJvmVqDY121~hQYyC8Coy6zZzP58vCEGk3Lo1qUigjPG-OcLue40wVCbKp~-JVulztw3med-3ms3P~DZHRmjW0JlqvNo0ta567D32bA3wK8DH0XueQpQW-OpalxfkVr63PgkhZ~xXbwPsJKRwH00NuM6L~p1HoURjS8OTpUYoZGEC4~I~zocruH1doMngDj91UHmfzeuFLnslGkG1s-nTZQPvjDSvoXvfHm6suFYzS8z~ALGqoTt-aXbLk5558Vhyp9U-aslA1R9y1UpZDMYQhE9pY~1ts2Q0AWa9UsenmyFu7HhZaUFXMC-X6TA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left2 {
    background-image: url(https://s3-alpha-sig.figma.com/img/95f9/79c8/dde872c44446ede96df616a07b628fb7?Expires=1687737600&Signature=KaeMq74N-3zq95rfLFJiX4UC7vVFOGWTMaUkmO95tN-ae2-YqrxIXRJcsKzDKkfiqCNxQD8iSaBg7mOwH1Ld0Zzqub3a9Og4sLKXRM6z22IWZWq73Zo5k7EZrFLwr05s~~uvSA42acycsXxhKC~ybiCxhaaAuFwGlwfdelJp9-IsJ~nJ0o92dnRAwC1rNOM9jntV~3hRqmpNezL35GCA5cfSMxkcuYAcSYynfk91RtgMqiaqfW--QOE7ErTeD13JdNwuuNd5hkvXczo9eSW-L1WqOTg8dGCU9LbfNfw2frZDZc4qOlYOXK7rRYksCyERWchU9yyuID3TnUBrrGh2Kg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left3 {
    background-image: url(https://s3-alpha-sig.figma.com/img/881d/ac39/bda1cd6daa86f71e804bfb2c2a403c41?Expires=1687737600&Signature=F3IMw0H7xRJj~PaEQEFdtwRoPKYIl~jnPeUzvqs08YVn13L7tSGblvj6Bqguk3CHlvP6hv2jghvHInrQxobmzS5R5rh9CP2k3j~1YQc6eMtlCOoal2wamNqR17d~0jDPWUCKzv-m~Q9gsKePwuyp3MWCX0f9uPwYDFLMOOIMoDc02gQHzwomEKIS0P~AkHwiyYqWwUk3GMge8eRyYBDtXI4KP~yfqkgx574lZCp8zu8YMrJSfu8nabaDwjYdVfLRGZMGnVh3ETuJD6AN2wYca7s8mHBJIXvwSh8UOWmrUAFjq6Ff~J5PZ59gldpwHZl4RF7QVmP6zJ~gd1E3dvHnqA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left4 {
    background-image: url(https://s3-alpha-sig.figma.com/img/a526/8b0c/cdc5980d0282fde8d0b3cf6b0100adea?Expires=1687737600&Signature=luua-8Zj2D-Y5ddMDhTnwGVnCIttTKfREkuu93vhg7sK4HheShdFvvdLdHEgSByCXV7u-Y8h1v9EzLoZ0MnukDGnQSk4vJvCDuIX62~Iec01NL3hopBIv9-sHeIYgEIzX3iTYXDz~a53K3o~~tv6g5PPDV7Jtxls2mSr-EU7LUo-lwhjL4TPEngX1qwOqaex9AXenWvGDHzSFtCTYeA5~8A~bq473TC7KeNxZdR4TEnJvZtQ1IdtxdrYpp7TMmiQI~OdxURBuZHmj7hAqnlb~nX75QRj2Zn5kbDRvJmfcDgaXjRfuVGzycU3g2cXBRj8yrXLOnsMJQJN3eONJUfTAw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left5 {
    background-image: url(https://s3-alpha-sig.figma.com/img/fa5d/f43f/5f9917d38920e6bdc6c40658caeeb013?Expires=1687737600&Signature=CLkMoDrarI1gQbIWSzQynq08HpaNIOGqSNWxcNUrqdmCbtrn4N9YvT3w1STyy9RcJW2u6v-FqAjZUr-jW-PzOqfkGVlg5iBwcR~r8RUlod2DasenPNxT3VMbUJyJLpP9tTcKIJlMD9WCM23ors3GPDMkxbfHgZ0bBUp3pgfwOibXAbu9SH0jE~AM81ptgBiqJw~WidM66QgAE3dEDE8OeDMd1ReZaCn-C9AjRz-c3WCP4LGnGqtYoHSK-j-ce4TyC0FO8MZ3Eu3J4vRMTnqBfRbR5jqytNrEneDTgmMuet3YREKgGcQWttlsH1ibjwQPe1mZg0bUdan3cQCA0jvXHg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left6 {
    background-image: url(https://s3-alpha-sig.figma.com/img/7ed8/97dd/d63ca8a12224899da90efff820afb9c2?Expires=1687737600&Signature=WDHMpCtv1vRDVuSVlU41W5P6HUyBeWXFKqsf9qULwfCB7TRSZSYm7NpWLrV~EQIuf1Oi2A0fhCERH3JEqhGWGx3eAXnP8q9AH9~K~m-8YAc9ulfQDLxLaqEkZ9V~nHagriO0-ht~akzzifWIKhY1exmkeBrjiu0EGQQGhTZyfNWUDzpKYqW685bpDQCANJkYC5ZlV0aTJuZV1Y29rGgzAm446b1katV6eBB9Pq4-5wHaoh4ISu2pYl-tyrE5k~aq03~SxrWu2YhEL1119hyxzQr4~9RuN2rh2awlLPkTSv-otOeUKBoXiBAk8YYh5YPd3PvsIT~52ab3rxIu2lH~0g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left7 {
    background-image: url(https://s3-alpha-sig.figma.com/img/d841/86f0/51087b417a853b9f6e04eb1dc98ecb07?Expires=1687737600&Signature=RZ5PPmCTKSgot4ZGmyOcaqMsBwU6XtaMaLOxQoBdT~cXeadAQFScOmTdkeZhfX2cvCqpJYSRK6O7IXq0MTTYTcrOCfUeCHD8zr~4P5lvMWje3ODzCZPcLO2rJwx97z8G-tAziTM0NXzJF9ZpSCSR1fh9xwiekOPagE2uPn0oI4sBMwquKpGOKojmc8tFvMFrjFkpn~5G0uJzkpMtLtfO644pmoYtdRfJO2fbKHmbhjp2FtzwH-TYbbiOJxoZaPzaScrjcnbwgsxQNqMfjWzzLBQF7iRkFcibzJ8cfmdUwQdVzCuCM1J2LpKbGCoQhjmUXL9INN2ZQEhBf~qUxy2Cjg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left8{
    background-image: url(https://s3-alpha-sig.figma.com/img/ff4d/f202/872930f27ee97a608ce4aee60dfe8fff?Expires=1687737600&Signature=a2webEbBty39C69oGRcHKgO3N6D-SqXgpVqlpRKvgelWWTaE9m7f5t5VwJbhzdDLr5t1b06vOvSW3l-69wUP3Kh-RDHQpv8w~0jt-U3HVc0l5DCte8cYCI9swALnxrK2az8JwaODSjGZk0inWOv2YVyN2Av~3pguB89UKRNXbXu-Ytwv89MCj3HVUrRat84YpMdSIvJlxwCBykIlAGbWbc8IVb0GcoThYPY15Z~SLcbtu4tS9n~rIopbvaZKDKwk0hJYMDPimIMrXDWJPRMtwOfnKblhx2NmpObSgZP4xIGYEGXEiS0K3BFU8DcSEuvRqPwEJcheyzD3V82obpuBZA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left9 {
    background-image: url(https://s3-alpha-sig.figma.com/img/13be/daaa/03bfc9716a493565dbe7120de9c3e74f?Expires=1687737600&Signature=Qso6HDqj-OVoyx6y5Zr0zYYMkGDGMaG7FL44uMWpihF3XcIWfkgjqCP-7WoDOVy3zuoouzRb1umjC76Eg~1VwLGqw0~hVijEpxa8eZn0rGfIjGzIjCsOkK4fxaQhfT7YTsetBvrPkvKRlJ-1Q3tnbGwFDdFBmiEEKLYdtsOkVzH3BVamz9Kudh8zAYeNLEXPMEO57xdV7QfuQ-39AbduUlK3lL~iXzrjX2Kx8KkfSqT0GfDFVz0x1MN41GLk061MILBhllNDu~BDwrHyXrrzkwH19S0XsW7C5oJiL7Kic7Ww582DMY0CiIpw9wiIENmpyTcN9l2QqEfRXr12L5Gwtw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left10 {
    background-image: url(https://s3-alpha-sig.figma.com/img/f7d3/f34a/936c8538ccbc926e86c8b8cedc69eb50?Expires=1687737600&Signature=T4w9qs~M3AdWlsbAVbUupzRjickMqrDFQcxzqlfBkjZt1lOKmKSq~uaQhwnF8A3zGa-cS08e76i4lrB1475CqmOrXO0cRke904QtVq03yRQavf1qOCxpHPSWN5Nytc7eh6jFKlq1dAsEksv2WukfAmyWLGGNF1-t~0ywHQqBFki8E0qmmhIsXNc36NfYYVOfR-YZ6xUQ43fFOAkrtBpQvhnDkA5k43Qzi79rMp9DMAK5nE~s2OK6hnPS17Q-zIDbZ0P2yGRTFBpvNHspkRjhGk36bKrxXGX1rdjOCFkRMmIXH7jANa4A9CHOUyouBDP7nY~q1QzrN70EyUBjpG3SaA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left11 {
    background-image: url(https://s3-alpha-sig.figma.com/img/27ea/1256/3bc602fde883d89431a905d02f3fb15d?Expires=1687737600&Signature=B9G2pdzHSVey44cBDgiEQUnV2kW7~t4yu3xwQ9OBcP8pA5TUnWFZkiRXwsiDs5AZtbUlGdWeud0wswyKorrXy2bSq193MRsE9jgyhM2hvJYU7F4VCUzdhzLI~WUhW-3YA3fGbPM6LbANtEZCtDajsvVEIMwhIxura7VyuCALAxhXMXlSoKjpCA-z6Gr-ZZ0~jnTWffTGkZCfEub0Rd7GF7~ekkB8YjFMvnf~9vTyYoHKTmmzMcaxXUnTwf3YVB1vu8Qq8UC2U363MGd0x9pIjoFtw83HX9hi9ztIXaVbKfxZFCzVcsy7ttTjY7b-tq9Hpl9Z6-nqITAYDgCekCcN3Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left12 {
    background-image: url(https://s3-alpha-sig.figma.com/img/b666/93f5/ef5eb3cfbd1ba328f5bc46edf0d6f55a?Expires=1687737600&Signature=UVyDzK5u8VwpBD0MWNYnUtIl-zcvWjoM~azPLdhu4dt5C6b0lws1nRCeZrVppiQB0toYdSh4imH3IO-kOZvkyxhCjVkP76H2pOwWTvRgALB4ea1b53bLXEDUvSIDu4Pq6KqCwW6FqkVqXP-tCh-EAX-vPsLZ6VtdYx~UAJrwk3bljzM5JH~fkKkIowqImyiNKzP71gdXg5HZrvAzFHvusKEVCML9FnIs0MdVnCYzQDM6-NTjxVJ992hDap9flpGFyn5z69jSX9lkXSjDxWSMCk9y7elIefABdLc~Bj549AeJoy-MZTB0FhhOxSXJ7hvosej9KX7AZpnorQ-Yud5i7g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left13{
    background-image: url(https://s3-alpha-sig.figma.com/img/28d8/a314/2e51d586d5fbf6add8ee98334ed72faf?Expires=1687737600&Signature=YsIPnD6EwRfT2oHncGkmAY-w~Z0Yxa6c25n-IoE5gRtrJK8jg~grktpNr6uPacVZxKa98S4fJ3ChNQyXnkn1MgwgnpFIX1OM9509O-KliY1sYsOQXK57oMHZkZ8edsI~7mQsn8yHWuhUo57mGjyH5KanixxfBNxbkYHNYHX8pxgGzNtlv8kYZsB1k7a-jTY1jfwaibBTxvaKz45ijwzt3pidgFpbgdtb84UyNaD9vo6vaZRMTY~E7s2Vu~u2UNaDpGNFXUfZ-aLi3xYaVvdBgyvMULCGnpJDwe3irl5CAyETXfQlZMO4Di-6uhVRdDE45Dzon7ZadfWJtDly0YHiXQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left14 {
    background-image: url(https://s3-alpha-sig.figma.com/img/3191/fb89/166bcfc6dee7accd62d41ec32e5e310f?Expires=1687737600&Signature=po4vO6EoucktM6IkyKJvrtLD1emwMRo1w1J3fkLbLQuHctI~vYKs7QTns4TSLcsxmd7v9o3xstzas~Ge4b~JEJkPJmgWqfSrOD9WmXs9FoCt9P3Log16sN~Vtq6Cdp8UDHneyDW6YGc0-qOvDBei7~htPQk3gyXv80bQztpYTv53Q6TqeR4P1tcC6YOWzqVvG9u7MgAoa5eH1exsE2zwW703873eeAXHqSwLBvhfygwLuEZbHUrJO7BlzMJBT1yNKWyYRGf0GUYDkYfR0fPmrvuoXvJzdCZm11VqgWbZCyGJp4Vpj9pM3HfZVacrREBWdYi4jjbBJhJ52EKFyNBUbA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left15 {
    background-image: url(https://s3-alpha-sig.figma.com/img/ea1f/4d4d/764268a24cc8ceb8b32ffa08c7c1337a?Expires=1687737600&Signature=dU2yOpj~zm9LuFz0Fgf0A84zl2f8lGsDYcK1sWE4s9uJY3KElj9EmTvWow5XOzjo09fU2~wQW7XLrGxjVR83TGn6PWzz8K1aHpvsUNah7QEP3wTjZIwQ9kJEjB~wy-dtFnJxfpIXyb6NpofSeinFPKeT8yvsDJd~kUoCp5jUPwYN9BMXuChR2hsca2aOVekoRtnbaggsmAG85p7USCYubI39eD5hAQVV84M1Ad0Vf4o7WbNdxzcI-BQ2HjgbwcYj-WszP9~yUzf8ZES13axqZt3cNDQqqt-nra70SSE5xY3-uApGp2EaZWWa9pdFrHiQoWJ~oErk23Lem3Sj6rBAYA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}
.left16 {
    background-image: url(https://s3-alpha-sig.figma.com/img/6f62/5016/5f75372c590afa195cebe16d9e088096?Expires=1687737600&Signature=Y3ryMpn3f-csvmEBLgTIFKvL472zTrBoe~2ZAY8~AsaT0zl5HHnJt4ZI4SDEfREwShAW9fXAMYVQ3ChCkUPk-gdyWEDTIhKBpoSFZOGjdkHFXHyGs4fKf~TjpvEaGk9V~1dMSR-ZTQEQMxfe8f6lMU7p-t1bM6u5TlQc0dWp8DlQfIgCLS8SU2GuglLooKE-gSEFLYkO~WEiNDoyyno2VMw6ZZByVZGHUl~cGEGA3dORjKiqnaj7JKD8t~YDTXUNRTq5rMBP1HWL8cNs9rxeUTOQjSrqm-YpO0M~-HIOAHETSdrkLzz1QMGdhDFZg4l9NYcRCvYoxmX-c0iCamZ6Cg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    border-radius: 6px 0px 0px 6px;
    border: 1px solid rgb(205, 63, 193);
    background-size: cover;
    width: 40%;
}


.content {
    width: 100%;
    gap: 0.2rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-around;





}

.last {
    display: flex;
    justify-content: space-between;
    
}
.last #left{
    background-color:rgba(0, 0, 0, 0.71);
    color:aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
  border-radius: 0px 6px 0px 6px; 
}
