* {
    margin: 0;
    padding: 0;
}

.all {
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 0.5rem;
    border-radius: 6px 6px 6px 6px;
    background-color: #F5EFEF;

}

.right {

    width: 60%;
    border-radius: 0px 6px 6px 0px;

}

.left {
    background-image: url(../assets/soup1.png);

    background-size: cover;
    width: 40%;
    border-radius: 6px 0px 0px 6px;
    background-position: center;
}

.left1 {
    background-image: url(../assets/soup2.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left2 {
    background-image: url(../assets/soup3.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left3 {
    background-image: url(../assets/deserts1.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left4 {
    background-image: url(../assets/desert2.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left5 {
    background-image: url(../assets/deserts3.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left6 {
    background-image: url(../assets/deserts4.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left7 {
    background-image: url(../assets/appe1.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left8 {
    background-image: url(../assets/appe2.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left9 {
    background-image: url(../assets/appe3.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left10 {
    background-image: url(../assets/drink7.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left11 {
    background-image: url(../assets/drink1.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left12 {
    background-image: url(../assets/drink2.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left13 {
    background-image: url(../assets/drink3.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left14 {
    background-image: url(../assets/drink4.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left15 {
    background-image: url(../assets/drink5.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}

.left16 {
    background-image: url(../assets/drink6.png);
    border-radius: 6px 0px 0px 6px;

    background-size: cover;
    width: 40%;
    background-position: center;
}


.content {
    width: 100%;
    gap: 0.2rem;

    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-around;





}

.last {
    display: flex;
    justify-content: space-between;

}

.last #left {
    background-color: rgba(0, 0, 0, 0.71);
    color: aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0px 6px 0px 6px;
}